<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="container">
    <h2> Dados do Encaregado de Proteção de Dados (DPO)</h2>
    <p>Nome: Silvano Bispo Faria</p>
    <p>Tel:(15) 3228-5330 Ramal 001</p>
    <p>Cel:(15) 99721-4263</p>
    <p>e-mail:silvano.faria@awsinformatica.com.br</p>
    <p>Horário de Atendimento:Segunda a sexta das 9:00h as 17:00h</p>
</div>    
</body>
</html>