<div id="container-footer">

    <h6> <strong>Empresa Modelo Comercio Ltda.</strong></h6> 
    <p class="txt-inf">Central de Atendimento:nonono@modelo.com.br </p>
    <p class="txt-inf">Rua Xv de nononono, 418 - Nonono, Sorocaba - SP, 180850-100, Brasil</p>
    <p class="txt-inf">Contatos: (99) 99999-9999 / (99) 99999-9999 / e-mail: comercial@nonono.com.br</p>
    <p class="txt-inf"> Horário de Atendimento: Segunda à Sexta das 07:00 às 18:00 Sábado das 07:00 às 13:00 </p>
    <h3> <a class="badge badge-warning" data-bs-toggle="modal" href="#painelAdm">Painel Adm</a></h3>

    <!--
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalExemplo">
       Launch demo modal
    </button>
   -->
    
    <p> Powered by: AWS Sistemas Empresariais / Sorocaba-SP / (15)99695-6753</p>

   </div>